@model LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "ورود";
    CultureSetter.SetCulture("fa-IR");
    var currentCulture =
    System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<html lang="@currentCulture">
<head>
    <partial name="PartialViews/_Styles"></partial>
</head>
<body>
    <div class="page-wrapper">
      <partial name="PartialViews/_RegisterAndLoginHeader" ></partial>
        <main class="page-content page-auth">
            <!-- auth-container -->
            <div class="auth-container">
                <div class="auth-title mb-3">رمز عبور</div>
                <!-- auth-box -->
                <div class="auth-box ui-box">
                    <!-- auth-form -->
                    <form method="post"  class="auth-form">
                        <!-- form-element -->
                        <div class="form-element-row mb-5">
                            <input asp-for="Password" type="text" class="form-control" placeholder="رمز عبور">
                        </div>
                        <!--  form-element -->
                        <!-- form-element -->
                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">ورود</button>
                        </div>

                    </form>
                    <!--  auth-form -->
                </div>
                <!--  auth-box -->
            </div>
            <!-- auth-container -->
        </main>
        <partial name="PartialViews/_RegisterAndLoginFooter" ></partial>
    </div>
    <partial name="PartialViews/_Scripts" ></partial>
</body>
</html>