@model RegisterAndLoginViewModel

@{
    Layout = null;
    CultureSetter.SetCulture("fa-IR");
    var currentCulture =
    System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<html lang="">
<head>
    <title>@PageTitles.LoginAndRegister</title>
    <partial name="PartialViews/_Styles"></partial>
</head>
<body>
    <div class="page-wrapper">
         <partial name="PartialViews/_RegisterAndLoginHeader" ></partial>
        <main class="page-content page-auth">
            <!-- auth-container -->
            <div class="auth-container">
                <div class="auth-title mb-3">@DataDictionaries.RegisterAndLogin</div>
                <!-- auth-box -->
                <div class="auth-box ui-box">
                    <!-- auth-form -->
                    <form method="post" class="auth-form">
                        <!-- form-element -->
                        <div class="form-element-row mb-5">
                            <input asp-for="EmailOrPhoneNumber" type="text" class="form-control" placeholder="@DataDictionaries.EmailOrPhone">
                            <span asp-validation-for=EmailOrPhoneNumber class="text-danger"></span>
                        </div>
                        <!--  form-element -->
                        <!-- form-element -->
                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">@DataDictionaries.Continue</button>
                        </div>
                        <!--  form-element -->
                        <!-- form-element -->
                        <div class="form-element-row">
                            <div>
                                با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                                    شرایط و
                                    قوانین
                                </a> استفاده
                                از تمام سرویس های
                                سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                            </div>
                        </div>
                        <!--  form-element -->
                    </form>
                    <!--  auth-form -->
                </div>
                <!--  auth-box -->
            </div>
            <!-- auth-container -->
        </main>
        <partial name="PartialViews/_RegisterAndLoginFooter" ></partial>
    </div>
    <partial name="PartialViews/_Scripts" ></partial>
</body>
</html>


