
@{
    ViewData["Title"] = "صفحه موردنظر پیدا نشد!";
}

<main class="page-content">
    <div class="container">
        <div class="text-center">
            <div class="fs-5 fw-bold mb-3">@ErrorMessages.PageNotFound</div>
            <div class="fs-6 fw-bold text-muted mb-4">
                @ErrorMessages.Error404Text
            </div>
            <div class="mb-5">
                <a href="/" class="btn btn-primary">@ButtonCaptions.ReturnHome <i class="ri-arrow-go-forward-line ms-2"></i></a>
            </div>
            <img src="./assets/images/theme/404.png" class="img-fluid" alt="">
        </div>
    </div>
</main>