<!DOCTYPE html>
<html>
<head>
    <title>Moltran - Responsive Admin Dashboard Template</title>
    <partial name="PartialViews/_AdminMetaTags"></partial>
    <partial name="PartialViews/_AdminStyles"></partial>
    @RenderSection("Styles",false)
</head>

<body class="fixed-left">

    <div id="wrapper">

        <partial name="PartialViews/_AdminHeader"></partial>

        <partial name="PartialViews/_AdminRightSideBar"></partial>

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @RenderBody()
            </div>
            <partial name="PartialViews/_AdminFooter"></partial>
        </div>

        <partial name="PartialViews/_AdminLeftSideBar"></partial>

    </div>

    <partial name="PartialViews/_AdminScripts"></partial>
    @RenderSection("Scripts",false)
</body>
</html>